@import 'colors';
.food-items-container {
    margin-top: 3rem;
    border-bottom: 1px solid $line-break;
    padding-bottom: 3rem;
    // height: 10rem;
    // width: 100%;
    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .food-items-section {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}