.top-restaurant-container {
    .heading-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .restaurant-section {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}