.near-me-links-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    .near-me-links-section {
        display: flex;
        flex-wrap: wrap;
        .near-me-links-button-container, .show-more-button-container {
            border: 1px solid #02060C0F;
            min-width: 20rem;
            flex: 1;
            margin: 0.5rem 0.5rem 0.5rem 0;
            padding: 0.5rem;
            border-radius: 0.5rem;
            button {
                width: 100%;
                height: 100%;
                border: unset;
                background: unset;
                cursor: pointer;
                font-size: 1rem;
                color: #282C3F;
            }
        }
    }
}